@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&family=Love+Ya+Like+A+Sister&family=Permanent+Marker&family=Rock+Salt&display=swap');

html {
  height: 100%;
}

body {
  background-image: url("./media/mathwp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#center-header {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#header {
  font-size: 75px;
  cursor: pointer;
}

.wallpaper {
  background-image: url("./media/mathwp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: initial;
  -webkit-background-size: cover;
}

#button-header {
    position: absolute;
    top: 55%;
    left: 47%;
    margin: 0;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit:cover;
  z-index: -1;
}

#header-title {
  font-size: 44px;
  cursor: pointer;
}

#chalkboard {
  background-image: url('./media/einstein.png'), url('./media/chalkboard2.png');
  background-position: 150px 400px, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 150px, 775px 450px;
  width: 100%;
  height: 35rem;
}

#joke-board {
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  height: 450px;
  margin: auto;
}


.headerLeft {
  float: left;
  font-size: 65px;
  margin: 50px 0px 0px 50px;  
  cursor: pointer;
}

.headerRight {
  float: right;
}

#lbtable {
  max-width: 70%;
  text-align: end;
  flex: auto;
  margin: auto;
}

.forms {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#login {
  font-size: 15px;
  width: 25rem; 
  margin: auto;
}

#signup {
  font-size: 15px;
  width: 25rem; 
  margin: auto;
}


.transparent-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}


@media only screen and (max-width: 600px) and (orientation: portrait) {

  #center-header {
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  #header {
    font-size: 50px;
    cursor: pointer;
  }

  #chalkboard {
    background-image: url('./media/einstein.png'), url('./media/chalkboard2.png');
    background-position: -5px 410px, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100px, 375px 420px;
    width: 100%;
  }  

  #joke-board {
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 335px;
    height: 450px;
    margin: auto;
  }

  #header-title {
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    
  }

  #lbtable {
    max-width: 100%;
    text-align: end;
    flex: auto;
    margin: auto;
  }

  /* .wallpaper {
    background-image: url("./media/mathwp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: initial;
    -webkit-background-size: cover;
  } */

}


@media only screen and (max-width: 400px) and (orientation: portrait) {

  #center-header {
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  #header {
    font-size: 40px;
    cursor: pointer;
  }

  #chalkboard {
    background-image: url('./media/einstein.png'), url('./media/chalkboard2.png');
    background-position: -5px 410px, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100px, 375px 420px;
    width: 100%;
  }  

  #joke-board {
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 335px;
    height: 450px;
    margin: auto;
  }

  #header-title {
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    
  }

  #lbtable {
    max-width: 100%;
    text-align: end;
    flex: auto;
    margin: auto;
  }

  /* .wallpaper {
    background-image: url("./media/mathwp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: initial;
    -webkit-background-size: cover;
  } */

}

.spinner {
  font-size: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
 
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
