@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&family=Love+Ya+Like+A+Sister&family=Permanent+Marker&family=Rock+Salt&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#center-header {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}


.wallpaper {
  background-image: url("./media/mathwp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#button-header {
    position: absolute;
    top: 55%;
    left: 47%;
    margin: 0;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit:cover;
  z-index: -1;
}


#chalkboard {
  background-image: url('./media/einstein.png'), url('./media/chalkboard2.png');
  background-position: 50px 500px, 180px 10px ;
  background-repeat: no-repeat, no-repeat;
  /* background-size: 900px 525px; */
  background-size: 175px, 950px 600px;
  width: 100%;
  height: 700px;
  /* display: flex; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: auto;
}

#joke-board {
  width: 775px;
  height: 550px;
  margin: auto;
}


.headerLeft {
  float: left;
  font-size: 65px;
  margin: 50px 0px 0px 50px;  
  cursor: pointer;
}

.headerRight {
  float: right;
}

#lbtable {
  width: 130vh;
  text-align: end;
  margin: auto;
}

.forms {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#login {
  font-size: 20px;
  width: 25rem; 
  margin: auto;
}

#signup {
  font-size: 20px;
  width: 25rem; 
  margin: auto;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#emoji {
  font-size: 50px;
  position: fixed;
  animation: emoji-spin 5s linear infinite;
  animation-fill-mode: both;
}

@keyframes emoji-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#emoji-bottom {
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
  animation: emoji-bottom 2s linear infinite;
  animation-fill-mode: both;
}

@keyframes emoji-bottom {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.transparent-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

