@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&family=Love+Ya+Like+A+Sister&family=Permanent+Marker&family=Rock+Salt&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #screen {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit:cover;
  z-index: -1;
}

/* #fs-overlay {
  height: 100vh;
  width: 100%;
} */

/* #board {
  width: 800px; 
  height: 500px;
  border: 10px saddlebrown solid;
  margin: auto;
  background-color: green;
  border-radius: 5%;
} */

#chalkboard {
  background-image: url('./media/einstein.png'), url('./media/chalkboard2.png');
  background-position: 50px 500px, 180px 10px ;
  background-repeat: no-repeat, no-repeat;
  /* background-size: 900px 525px; */
  background-size: 175px, 950px 600px;
  width: 100%;
  height: 700px;
  /* display: flex; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
}

#joke-board {
  width: 775px;
  height: 550px;
  margin: auto;
  /* display: flex; */
}


.headerLeft {
  float: left;
  font-size: 65px;
  margin: 50px 0px 0px 50px;  
  cursor: pointer;
}

.headerRight {
  float: right;
}

#lbtable {
  width: 130vh;
  text-align: end;
  margin: auto;
}

#login {
  font-size: 20px;
  width: 25rem; 
  margin: auto;
}

#signup {
  font-size: 20px;
  width: 25rem; 
  margin: auto;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#emoji {
  font-size: 50px;
  position: fixed;
  animation: emoji-spin 5s linear infinite;
  animation-fill-mode: both;
}

@keyframes emoji-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#emoji-bottom {
  font-size: 50px;
  position: fixed;
  animation: emoji-bottom 2s linear infinite;
  animation-fill-mode: both;
}

@keyframes emoji-bottom {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.transparent-button{
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
