<div class="modal-body">
  <% object.each do |n|%>
  <!--If Notification type is a Friend Request -->
    <% if n.notice_type == "friendRequest"%>
      <% user = notification_find(n, 'friendRequest')%>
      <%= "Friend Request sent from #{user.full_name}" %>
    <% end %>
    </div>